<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Successful SignUp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Account Created Successfully</h2>
                <p>Thank you for creating your account on our job portal.</p>
                <p>Please <a href="../clogin">Click here</a> to login into your account.</p>
            </div>
        </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
